# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# generated
node_modules
dist
dist-ssr
*.local
**/lib
*.css.d.ts

# vessel
manifest.json
config.ts


# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
**.env
**.env.**
